CONFIG_PLATFORM_DRIVERS=y
CONFIG_XILINX=y

CONFIG_UART_XILINX=y
CONFIG_IRQ_XILINX=y
CONFIG_TIMER_XILINX=y
CONFIG_SPI_XILINX=y
CONFIG_GPIO_XILINX=y
CONFIG_AXI_IO_XILINX=y

# IIOD over UART (TINYIIOD): enables the IIO_SUPPORT path in headless_zu.c
CONFIG_UART=y
CONFIG_IRQ=y
CONFIG_IIO=y
CONFIG_AXI_CORE_IIO_AXI_ADC=y
CONFIG_AXI_CORE_IIO_AXI_DAC=y
